.contact-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content{
    max-width: 548px;
    /* margin: 0 auto; */
}

.form-content h2{
    line-height: 60px;
    max-width: 305px;
}
.form-content h4{
    margin-bottom: 47px;
}
.form-content p{
    padding-bottom: 20px;
}
.form-content .contacts-list{
    color: #151515;
    margin-top: 20px;
    font-size: 30px;
}
.form-content .mail{
    color: var(--main-color);
    text-decoration: underline;
}
.form{
    width: 578px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.form input,
textarea{
    width: 100%;
    border-radius: 30px;
    background: #FFF;
    padding: 15px 25px;
}

.form input::placeholder,
textarea::placeholder{
    color: #353430;
    font-size: 20px;
    opacity: 0.5;
}

.form textarea{
    resize: none;
    height: 114px;
    border-radius: 20px;
}

.form label{
    position: relative;
    margin: 15px auto;
    padding-left: 40px;
    color: #353430;
    opacity: 0.7;
}
.form label a{
    text-decoration: underline;
}
.form input[type="checkbox"] {
    display: none;
}
 label .checkmark {
    position: absolute;
    top: 0;
    left: 0px;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    background: #FFF;
    text-align: center;
    vertical-align: middle;
}
input[type="checkbox"]:checked + .checkmark:after {
    content: "✓";
    color: var(--main-color);
    font-size: 18px;
    font-weight: 800;
}

.form button{
    width: 100%;
    font-size: 20px;
    padding: 13px 25px 17px;
}

@media (max-width: 950px) {
    .contact-form{
        flex-direction: column;
    }
    .form-content{
        width: 100%;
    }
    .form-content h2{
        line-height: normal;
    }
    .form-content h4{
        margin-bottom: 10px;
    }
    .form-content p{
        padding-bottom: 10px;
    }
    .form-content .contacts-list{
        margin-top: 0px;
        font-size: 15px;
        margin-bottom: 20px;    
        gap: 15px;
    }
    .form{
        width: 100%;
        justify-content: center;
        gap: 8px;
    }

    .form input,
    .form textarea{
        border-radius: 15px;
        padding: 5px 15px 8px;
    }

    .form input::placeholder,
    .form textarea::placeholder{
        font-size: 12px;
    }
    .form label{
        margin: 2px auto;
    }
    .form button{
        font-size: 12px;
        padding: 12px 93px;
    }
    
}