.new-buildings .cards{
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
}
.new-buildings .card{
    padding: 25px;
}

.new-buildings .card h3{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 25px;
}

.new-buildings .card p{
    opacity: 0.7;
}

@media (max-width: 950px) {
    .new-buildings .card{
        padding: 10px 10px 20px;
    }

    .new-buildings .card h3{
        font-size: 15px;
        margin-bottom: 10px;
    }
}

@media (max-width: 550px) {
    .new-buildings .cards{
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        grid-gap: 10px;
    }
    
}